.scuba {
    position: relative;
    top: 400em;
    background-image: url(../assets/img/ending/scuba.jpg);
    background-repeat: no-repeat;
    width: 100%;
    border-bottom: solid 10px rgb(248, 218, 149);
    overflow: hidden;
    height: 800px;
    background-size: cover;

    @media (max-width: 900px) {
        top: 423em;
    }

    @media (max-width: 450px) {
        top: 323em;
        background-size: contain;
        height: 225px;
    }
}

.titulo-final {
    position: absolute;
    top: 3em;
    border-bottom: none;
    @media (max-width: 450px) {
        font-size: 1em;
        line-height: 2rem; 
    }
}
