@mixin theme ($theme: rgb(65, 53, 230)){
    border: 1px solid $theme;

}


.vinhos {
    @extend %blocks;
    h2 {
        color: $color-02;
    }
    li {
        @include theme;
        color: $color-04;

        a {
            background-color: $color-default;
        }
    }
}